<!--
 * Jalview - A Sequence Alignment Editor and Viewer (2.11.4.1)
 * Copyright (C) 2024 The Jalview Authors
 * 
 * This file is part of Jalview.
 * 
 * Jalview is free software: you can redistribute it and/or
 * modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *  
 * Jalview is distributed in the hope that it will be useful, but 
 * WITHOUT ANY WARRANTY; without even the implied warranty 
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR 
 * PURPOSE.  See the GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along with Jalview.  If not, see <http://www.gnu.org/licenses/>.
 * The Jalview Authors are detailed in the 'AUTHORS' file.
-->

<div id="view_decorated" name="view_decorated"  style="margin:8px; padding:10px; border: 2px solid red; text-align:center; display:none;"><b>Click <a href="index.html#linkedapplets_ng"> here</a> to view decorated page</b></div>

<!-- boiler plate link to alternate demopage -->
<div style="width: 100%">
<div style="width:35%; align:left; float:right;">

</div>
</div>





<!-- content template start -->

    <h2>JalviewLite Linked Applets Demo</h2>
    <p>The two applets below use <a href="javascript:doSubmit('jalviewLiteJs')">JalviewLite's javascript API</a> to exchange events about the currently selected region and mouse position in the alignment.
    <a href="view-source:http://www.jalview.org/builds/develop/examples/linkedapplets_ng.html" target="_blank">View the source here to see how it has been done</a>  (If the link doesn't work on your browser try going to <a href="http://www.jalview.org/builds/develop/examples/linkedapplets_ng.html">this page</a> and viewing the page source manually).</p>


<applet
   code="jalview.bin.JalviewLite" width="800" height="300" id="jvapp" mayscript="True" scriptable="True" archive="jalviewApplet.jar,JmolApplet-14.6.4_2016.10.26.jar,java-json.jar,json_simple-1.1.jar">
<param name="oninit" value="lJvApp"/>
<param name="automaticScrolling" value="true"/>
<param name="file" value="plantfdx.fa"/>
<param name="annotations" value="plantfdx.annotations"/>
<param name="debug" value="true"/>
<param name="wrap" value="false"/>
<param name="showAnnotation" value="true"/>
<param name="embedded" value="true"/>
<param name="showFullId" value="false"/>
<param name="RGB" value="F2F2FF"/>
<param name="linkLabel_1" value="EMBL-EBI Search"/>
<param name="linkUrl_1" value="http://www.ebi.ac.uk/ebisearch/search.ebi?db=allebi&query=$SEQUENCE_ID$"/>
<param name="linkLabel_2" value="Uniprot"/>
<param name="linkUrl_2" value="http://www.uniprot.org/uniprot/$SEQUENCE_ID$"/>
<param name="permissions" value="sandbox"/>
<param name="APPLICATION_URL" value="http://www.jalview.org/services/launchApp"/>
</applet>




<applet
   code="jalview.bin.JalviewLite" width="800" height="300" id="jvfollower" mayscript="True" scriptable="True" archive="jalviewApplet.jar,JmolApplet-14.6.4_2016.10.26.jar,java-json.jar,json_simple-1.1.jar">
<param name="oninit" value="lJvFollow"/>
<param name="file" value="plantfdx.fa"/>
<param name="annotations" value="plantfdx.annotations"/>
<param name="automaticScrolling" value="true"/>
<param name="debug" value="true"/>
<param name="wrap" value="false"/>
<param name="showAnnotation" value="true"/>
<param name="embedded" value="true"/>
<param name="showFullId" value="false"/>
<param name="RGB" value="F2F2FF"/>
<param name="linkLabel_1" value="EMBL-EBI Search"/>
<param name="linkUrl_1" value="http://www.ebi.ac.uk/ebisearch/search.ebi?db=allebi&query=$SEQUENCE_ID$"/>
<param name="linkLabel_2" value="Uniprot"/>
<param name="linkUrl_2" value="http://www.uniprot.org/uniprot/$SEQUENCE_ID$"/>
<param name="permissions" value="sandbox"/>
<param name="APPLICATION_URL" value="http://www.jalview.org/services/launchApp"/>
</applet>


    <p>
<!--      <a href="javascript:linkJvJmol()">Click Me If you don't see any messages below</a>
      <br>
       -->
<form name="console" id="console">
<textarea name="output"
        id="stdout" rows="20" cols="80">Messages  will appear here.</textarea></form>
      <br>
</p>
<!-- content template end -->