<!--
 * Jalview - A Sequence Alignment Editor and Viewer (2.11.4.1)
 * Copyright (C) 2024 The Jalview Authors
 * 
 * This file is part of Jalview.
 * 
 * Jalview is free software: you can redistribute it and/or
 * modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *  
 * Jalview is distributed in the hope that it will be useful, but 
 * WITHOUT ANY WARRANTY; without even the implied warranty 
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR 
 * PURPOSE.  See the GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along with Jalview.  If not, see <http://www.gnu.org/licenses/>.
 * The Jalview Authors are detailed in the 'AUTHORS' file.
-->


  <footer id="section-footer" class="section section-footer">
  <div id="zone-footer-wrapper" class="zone-wrapper zone-footer-wrapper clearfix">  
  <div id="zone-footer" class="zone zone-footer clearfix container-12">
    <div class="grid-12 region region-footer-first" id="region-footer-first">
  <div class="region-inner region-footer-first-inner">
    <div class="block block-block citation-block block-3 block-block-3 odd block-without-title" id="block-block-3">
  <div class="block-inner clearfix">
                
    <div class="content clearfix">
       <p>If you use Jalview in your work, please cite this publication:</p>
<p>Waterhouse, A.M., Procter, J.B., Martin, D.M.A, Clamp, M. and Barton, G. J. (2009)<br />"Jalview Version 2 - a multiple sequence alignment editor and analysis workbench"<br />Bioinformatics25 (9) 1189-1191 <a href="http://dx.doi.org/10.1093/bioinformatics/btp033">doi: 10.1093/bioinformatics/btp033</a></p>
<p><a href="https://twitter.com/jalview" target="_blank"><img alt="" class="media-image" style="width: 45px; height: 40px;" typeof="foaf:Image" src="http://www.jalview.org/sites/jalview.aegir-prod-6.lifesci.dundee.ac.uk/files/styles/large/public/Twitter_bird_1.png?itok=pRhs111L" width="172" height="139" /></a><a href="https://www.facebook.com/Jalview" target="_blank"><img alt="" class="media-image" style="width: 45px; height: 45px;" typeof="foaf:Image" src="http://www.jalview.org/sites/jalview.aegir-prod-6.lifesci.dundee.ac.uk/files/styles/large/public/facebook1.png?itok=NZOm8lnL" width="225" height="225" /></a></p>
     </div>
  </div>
</div><div class="block block-block footer-icons block-11 block-block-11 even block-without-title" id="block-block-11">
  <div class="block-inner clearfix">
                
    <div class="content clearfix">
       <p><a href="http://www.compbio.dundee.ac.uk/" target="_blank"><img alt="" class="media-image" height="98" width="80" typeof="foaf:Image" src="http://www.jalview.org/sites/jalview.aegir-prod-6.lifesci.dundee.ac.uk/files/gb_0.jpg" /></a><a href="http://www.wellcome.ac.uk/" target="_blank"><img alt="" class="media-image" height="98" width="248" typeof="foaf:Image" src="http://www.jalview.org/sites/jalview.aegir-prod-6.lifesci.dundee.ac.uk/files/wt.jpg" /></a><a href="http://www.bbsrc.ac.uk/home/home.aspx" target="_blank"><img alt="" class="media-image" height="98" width="186" typeof="foaf:Image" src="http://www.jalview.org/sites/jalview.aegir-prod-6.lifesci.dundee.ac.uk/files/bbsrc.jpg" /></a><a href="http://www.dundee.ac.uk/" target="_blank"><img alt="" class="media-image" height="98" width="97" typeof="foaf:Image" src="http://www.jalview.org/sites/jalview.aegir-prod-6.lifesci.dundee.ac.uk/files/uni.jpg" /></a></p>
<p><a href="http://creativecommons.org/licenses/by-sa/3.0/" style="fg: white">Published under CC SA v3</a></p>
     </div>
  </div>
</div>  </div>
</div>  </div>
</div></footer>  </div> 


 </body>
</html>

