<!--
 * Jalview - A Sequence Alignment Editor and Viewer (2.11.4.1)
 * Copyright (C) 2024 The Jalview Authors
 * 
 * This file is part of Jalview.
 * 
 * Jalview is free software: you can redistribute it and/or
 * modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *  
 * Jalview is distributed in the hope that it will be useful, but 
 * WITHOUT ANY WARRANTY; without even the implied warranty 
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR 
 * PURPOSE.  See the GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along with Jalview.  If not, see <http://www.gnu.org/licenses/>.
 * The Jalview Authors are detailed in the 'AUTHORS' file.
-->


<body
	class="html not-front not-logged-in page-node page-node- page-node-18 node-type-basic-page context-about">
	<div id="skip-link">
		<a href="#main-content" class="element-invisible element-focusable">Skip
			to main content</a>
	</div>
	<div class="page clearfix" id="page">
		<header id="section-header" class="section section-header">
		<div id="zone-branding-wrapper"
			class="zone-wrapper zone-branding-wrapper clearfix">
			<div id="zone-branding"
				class="zone zone-branding clearfix container-12">
				<div class="grid-6 region region-branding" id="region-branding">
					<div class="region-inner region-branding-inner">
						<div
							class="block block-views block-main-logo-block block-views-main-logo-block odd block-without-title"
							id="block-views-main-logo-block">
							<div class="block-inner clearfix">
								<div class="content clearfix">
									<div
										class="view view-main-logo view-id-main_logo view-display-id-block view-dom-id-1828f18ab2b5b41781dad3bdfec6156b">
										<div class="view-content">
											<div class="item-list">
												<ul>
													<li
														class="views-row views-row-1 views-row-odd views-row-first views-row-last">
														<div class="views-field views-field-field-logo-image">
															<div class="field-content">
																<a href="http://www.jalview.org/"><img
																	class="adaptive-image" typeof="foaf:Image"
																	src="http://www.jalview.org/sites/jalview.aegir-prod-6.lifesci.dundee.ac.uk/files/styles/adaptive/adaptive-image/public/jalviewHome_0.jpg?itok=xoZsVtTd"
																	alt="" /></a>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-6 region region-launch-buttons"
					id="region-launch-buttons">
					<div class="region-inner region-launch-buttons-inner">
						<div
							class="block block-views block-launch-buttons-block block-views-launch-buttons-block odd block-without-title"
							id="block-views-launch-buttons-block">
							<div class="block-inner clearfix">
								<div class="content clearfix">
									<div
										class="view view-launch-buttons view-id-launch_buttons view-display-id-block view-dom-id-be0b33b57f9a461aaaf77cdeab66e60c">
										<div class="view-content">
											<div class="item-list">
												<ul>
													<li
														class="views-row views-row-1 views-row-odd views-row-first">
														<div class="views-field views-field-field-button-image">
															<div class="field-content">
																<a href="http://www.jalview.org/webstart/jalview.jnlp"><img
																	typeof="foaf:Image"
																	src="http://www.jalview.org/sites/jalview.aegir-prod-6.lifesci.dundee.ac.uk/files/desk.jpg"
																	width="250" height="40" alt="" /></a>
															</div>
														</div>
													</li>
													<li
														class="views-row views-row-2 views-row-even views-row-last">
														<div class="views-field views-field-field-button-image">
															<div class="field-content">
																<a href="http://www.jalview.org/examples/applets.html"><img
																	typeof="foaf:Image"
																	src="http://www.jalview.org/sites/jalview.aegir-prod-6.lifesci.dundee.ac.uk/files/applet.jpg"
																	width="250" height="40" alt="" /></a>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="zone-menu-wrapper"
			class="zone-wrapper zone-menu-wrapper clearfix">
			<div id="zone-menu" class="zone zone-menu clearfix container-12">
				<div class="grid-12 region region-menu" id="region-menu">
					<div class="region-inner region-menu-inner">
						<section
							class="block block-nice-menus block-1 block-nice-menus-1 odd"
							id="block-nice-menus-1">
						<div class="block-inner clearfix">
							<h2 class="block-title">
								<span class="nice-menu-hide-title">Main menu</span>
							</h2>
							<div class="content clearfix">
								<ul class="nice-menu nice-menu-down" id="nice-menu-1">
									<li class="menu-346 menu-path-front  first   odd  "><a
										href="/" title="">Home</a></li>
									<li
										class="menu-355 menuparent  menu-path-node-18 active-trail   even  "><a
										href="/About">About</a>
										<ul>
											<li class="menu-356 menu-path-node-19  first   odd  "><a
												href="/about/citation">Publications</a></li>
											<li class="menu-357 menu-path-node-20   even  "><a
												href="/about/credits">Credits</a></li>
											<li class="menu-494 menu-path-node-310   odd   last "><a
												href="/about/jalview-scientific-advisory-committee">Advisory
													Committee</a></li>
										</ul></li>
									<li class="menu-437 menuparent  menu-path-node-340   odd  "><a
										href="/Help" class="help-colour-scheme">Help</a>
										<ul>
											<li class="menu-579 menu-path-node-576  first   odd  "><a
												href="/Help/Getting-Started"
												title="Getting Starting with jalview">Getting Started</a></li>
											<li class="menu-511 menu-path-faq   even  "><a
												href="/faq">FAQ</a></li>
											<li class="menu-513 menu-path-node-2   odd  "><a
												href="/about/documentation">Documentation</a></li>
											<li
												class="menu-514 menu-path-jalvieworg-mailman-listinfo-jalview-discuss   even  "><a
												href="http://www.jalview.org/mailman/listinfo/jalview-discuss"
												class="new-window" target="_blank">Discussion Mailing
													List</a></li>
											<li class="menu-773 menu-path-node-618   odd   last "><a
												href="/Help/About-Jalview" title="About Jalview">Other
													Resources</a></li>
										</ul></li>
									<li class="menu-363 menuparent  menu-path-node-25   even  "><a
										href="/community" class="community">Community</a>
										<ul>
											<li
												class="menu-364 menu-path-jalvieworg-mailman-listinfo-jalview-announce  first   odd  "><a
												href="http://www.jalview.org/mailman/listinfo/jalview-announce"
												class="new-window" target="_blank">News Mailing List</a></li>
											<li
												class="menu-365 menu-path-jalvieworg-mailman-listinfo-jalview-discuss   even  "><a
												href="http://www.jalview.org/mailman/listinfo/jalview-discuss"
												class="new-window" target="_blank">Discussion Mailing
													List</a></li>
											<li class="menu-441 menu-path-community-links   odd  "><a
												href="/community/links">Links</a></li>
											<li
												class="menu-457 menu-path-community-community-news   even   last "><a
												href="/community/community-news">Community News</a></li>
										</ul></li>
									<li class="menu-366 menuparent  menu-path-node-26   odd  "><a
										href="/development" class="development">Development</a>
										<ul>
											<li
												class="menu-436 menu-path-issuesjalvieworg-secure-Dashboardjspa  first   odd  "><a
												href="http://issues.jalview.org/secure/Dashboard.jspa"
												name="new-window" class="new-window" target="_blank">Jalview
													Bug Tracker</a></li>
											<li class="menu-367 menu-path-node-27   even  "><a
												href="/development/development-builds">Development
													Version</a></li>
											<li
												class="menu-453 menu-path-sourcejalvieworg-gitweb-pjalviewgit;asummary   odd  "><a
												href="http://source.jalview.org/gitweb/?p=jalview.git;a=summary"
												class="new-window" target="_blank">Jalview Git Web</a></li>
											<li class="menu-512 menu-path-node-341   even  "><a
												href="/development/Version-Archive">Version Archive</a></li>
											<li
												class="menu-462 menu-path-development-release-history   odd  "><a
												href="/development/release-history">Release History</a></li>
											<li
												class="menu-456 menu-path-development-development-news   even   last "><a
												href="/development/development-news">Development News</a></li>
										</ul></li>
									<li class="menu-369 menuparent  menu-path-node-29   even  "><a
										href="/training" class="training">Training</a>
										<ul>
											<li
												class="menu-440 menu-path-training-training-courses  first   odd  "><a
												href="/training/training-courses">Training Courses</a></li>
											<li class="menu-1374 menu-path-node-654   even  "><a
												href="/training/Training-Videos"
												title="Jalview Online Training Videos">Training Videos</a></li>
											<li class="menu-458 menu-path-training-training-news   odd  "><a
												href="/training/training-news">Training News</a></li>
											<li class="menu-610 menu-path-node-606   even   last "><a
												href="/ISMB-2014-Presentation">Jalview &amp; JABA Slides</a></li>
										</ul></li>
									<li class="menu-358 menu-path-node-21   odd   last "><a
										href="/Download" class="download-right">Download</a></li>
								</ul>
							</div>
						</div>
						</section>
					</div>
				</div>
			</div>
		</div>
		<div id="zone-header-wrapper"
			class="zone-wrapper zone-header-wrapper clearfix">
			<div id="zone-header" class="zone zone-header clearfix container-12">
				<div class="grid-12 region region-header-first"
					id="region-header-first">
					<div class="region-inner region-header-first-inner">
						<div
							class="block block-menu-block primary-nav block-3 block-menu-block-3 odd block-without-title"
							id="block-menu-block-3">
							<div class="block-inner clearfix">

								<div class="content clearfix">
									<div
										class="menu-block-wrapper menu-block-3 menu-name-main-menu parent-mlid-0 menu-level-1">
										<ul class="menu">
											<li class="first leaf menu-mlid-346"><a href="/"
												title="">Home</a></li>
											<li class="expanded active-trail active menu-mlid-355"><a
												href="/About" class="active-trail active">About</a>
												<ul class="menu">
													<li class="first leaf menu-mlid-356"><a
														href="/about/citation">Publications</a></li>
													<li class="leaf menu-mlid-357"><a
														href="/about/credits">Credits</a></li>
													<li class="last leaf menu-mlid-494"><a
														href="/about/jalview-scientific-advisory-committee">Advisory
															Committee</a></li>
												</ul></li>
											<li class="expanded menu-mlid-437"><a href="/Help"
												class="help-colour-scheme">Help</a>
												<ul class="menu">
													<li class="first leaf menu-mlid-579"><a
														href="/Help/Getting-Started"
														title="Getting Starting with jalview">Getting Started</a></li>
													<li class="leaf menu-mlid-511"><a href="/faq">FAQ</a></li>
													<li class="leaf menu-mlid-513"><a
														href="/about/documentation">Documentation</a></li>
													<li class="leaf menu-mlid-514"><a
														href="http://www.jalview.org/mailman/listinfo/jalview-discuss"
														class="new-window" target="_blank">Discussion Mailing
															List</a></li>
													<li class="last leaf menu-mlid-773"><a
														href="/Help/About-Jalview" title="About Jalview">Other
															Resources</a></li>
												</ul></li>
											<li class="expanded menu-mlid-363"><a href="/community"
												class="community">Community</a>
												<ul class="menu">
													<li class="first leaf menu-mlid-364"><a
														href="http://www.jalview.org/mailman/listinfo/jalview-announce"
														class="new-window" target="_blank">News Mailing List</a></li>
													<li class="leaf menu-mlid-365"><a
														href="http://www.jalview.org/mailman/listinfo/jalview-discuss"
														class="new-window" target="_blank">Discussion Mailing
															List</a></li>
													<li class="leaf menu-mlid-441"><a
														href="/community/links">Links</a></li>
													<li class="last leaf menu-mlid-457"><a
														href="/community/community-news">Community News</a></li>
												</ul></li>
											<li class="expanded menu-mlid-366"><a
												href="/development" class="development">Development</a>
												<ul class="menu">
													<li class="first leaf menu-mlid-436"><a
														href="http://issues.jalview.org/secure/Dashboard.jspa"
														name="new-window" class="new-window" target="_blank">Jalview
															Bug Tracker</a></li>
													<li class="leaf menu-mlid-367"><a
														href="/development/development-builds">Development
															Version</a></li>
													<li class="leaf menu-mlid-453"><a
														href="http://source.jalview.org/gitweb/?p=jalview.git;a=summary"
														class="new-window" target="_blank">Jalview Git Web</a></li>
													<li class="leaf menu-mlid-512"><a
														href="/development/Version-Archive">Version Archive</a></li>
													<li class="leaf menu-mlid-462"><a
														href="/development/release-history">Release History</a></li>
													<li class="last leaf menu-mlid-456"><a
														href="/development/development-news">Development News</a></li>
												</ul></li>
											<li class="expanded menu-mlid-369"><a href="/training"
												class="training">Training</a>
												<ul class="menu">
													<li class="first leaf menu-mlid-440"><a
														href="/training/training-courses">Training Courses</a></li>
													<li class="leaf menu-mlid-1374"><a
														href="/training/Training-Videos"
														title="Jalview Online Training Videos">Training Videos</a></li>
													<li class="leaf menu-mlid-458"><a
														href="/training/training-news">Training News</a></li>
													<li class="last leaf menu-mlid-610"><a
														href="/ISMB-2014-Presentation">Jalview &amp; JABA
															Slides</a></li>
												</ul></li>
											<li class="last expanded menu-mlid-358"><a
												href="/Download" class="download-right">Download</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-6 region region-header-second"
					id="region-header-second">
					<div class="region-inner region-header-second-inner">
						<div
							class="block block-delta-blocks block-breadcrumb block-delta-blocks-breadcrumb odd block-without-title"
							id="block-delta-blocks-breadcrumb">
							<div class="block-inner clearfix">

								<div class="content clearfix">
									<div id="breadcrumb" class="clearfix">
										<ul class="breadcrumb">
											<li class="depth-1 odd first"><a href="/">Home</a></li>
											<li class="depth-2 even last"><a href="/About"
												class="active">About</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</header>
		
		
		<form name="custom_form" id="custom_form" action="jalview_examples.php" method="post">
		<input type="hidden" name="target" id="target" value="APPLETS"><br>
		</form>
