<!--
 * Jalview - A Sequence Alignment Editor and Viewer (2.11.4.1)
 * Copyright (C) 2024 The Jalview Authors
 * 
 * This file is part of Jalview.
 * 
 * Jalview is free software: you can redistribute it and/or
 * modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *  
 * Jalview is distributed in the hope that it will be useful, but 
 * WITHOUT ANY WARRANTY; without even the implied warranty 
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR 
 * PURPOSE.  See the GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along with Jalview.  If not, see <http://www.gnu.org/licenses/>.
 * The Jalview Authors are detailed in the 'AUTHORS' file.
-->

<ul id="menu" class="menu">
		<li id="applets" class="first leaf menu-mlid-1001">
		<a id="applets" href="javascript:doSubmit('applets')" class=" ">JalviewLite Examples</a></li>

		<li id="jalviewLiteJs" class="leaf menu-mlid-1002">
		<a id="jalviewLiteJs" href="javascript:doSubmit('jalviewLiteJs')" class=" ">Javascript API</a></li>

		<li id="appletDeployment" class="leaf menu-mlid-1003">
		<a id="appletDeployment" href="javascript:doSubmit('appletDeployment')" class=" ">Applet Deployment</a></li>

		<li id="appletParameters" class="leaf menu-mlid-1003">
		<a id="appletParameters" href="javascript:doSubmit('appletParameters')" class=" ">Applet Parameters</a></li>

		<li id="embedded" class="leaf menu-mlid-1004">
		<a id="embedded" href="javascript:doSubmit('embedded')" class=" ">Embedded Alignment</a></li>

		<li id="embeddedWJmol" class="leaf menu-mlid-1005">
		<a id="embeddedWJmol" href="javascript:doSubmit('embeddedWJmol')" class=" ">Jalview and Jmol</a></li>

		<li id="formComplete" class="leaf menu-mlid-1006">
		<a id="formComplete" href="javascript:doSubmit('formComplete')" class=" ">Access from Javascript</a></li>

		<li id="javascriptLaunch" class="leaf menu-mlid-1007">
		<a id="javascriptLaunch" href="javascript:doSubmit('javascriptLaunch')" class=" ">Javascript Launch</a></li>

		<li id="linkedapplets_ng" class="last leaf menu-mlid-1008">
		<a id="linkedapplets_ng" href="javascript:doSubmit('linkedapplets_ng')" class=" ">Linked JalviewLites</a></li>
	</ul>

